:root {
    --main-bg-color: #1E252B;
    --accent-color: #FF6E30;
    --form-bg-color: #283036;
    --card-outline-color: rgba(255, 255, 255, 0.80);
    --card--bg-color: rgba(40, 48, 54, 0.60);
    --button-border-color: rgba(255, 255, 255, 0.10);

    --main-text-color: rgba(255, 255, 255, 0.55);
    --white-text-color: #fff;
    --medium-text-color: rgba(255, 255, 255, 0.78);
    --trusted-text-color: rgba(255, 255, 255, 0.80);
    --trusted-border-color: rgba(255, 255, 255, 0.05);
    --trusted-bg-color: rgba(44, 53, 61, 0.20);
    --trusted-circle-color: rgba(255, 72, 66, 0.40);
    --light-text-color: rgba(255, 255, 255, 0.90);
    --dark-orange-text-color: rgba(255, 165, 55, 0.55);
    --light-orange-text-color: #FFA537;
    --placeholder-text-color: rgba(255, 255, 255, 0.38)

}