.footer {
    padding: 70px 0 98px;
    border-top: 0.5px solid rgba(255, 255, 255, 0.15);
    &__wrapper {
        display: flex;
        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: repeat(2, auto);
            grid-auto-rows: auto;
            gap: 40px clamp(1.25rem, -5.702rem + 19.28vw, 6.25rem);
            justify-content: center;
        }
        @include phone {
            grid-template-columns: 1fr;
            
        }
    }
    &__general {
        max-width: 260px;
        @include tablet {
            grid-column: 2/3;
            grid-row: 2/3;
        }
        @include phone {
            grid-column: 1/2;
            grid-row: 4/5;
            max-width: unset;
        }
    }
    &__contact {
        margin-left: clamp(3.75rem, -9.579rem + 21.48vw, 9.75rem); // 156px
        @include tablet {
            grid-column: 1/2;
            grid-row: 1/2;
            margin-left: unset;
        }
        @include phone {
            grid-column: 1/2;
            grid-row: 3/4;
         
        }
    }
    &__categories {
        margin-left: clamp(5rem, 0.141rem + 7.83vw, 7.188rem); // 115px
        @include tablet {
            grid-column: 2/3;
            grid-row: 1/2;
            margin-left: unset;
       
        }
        @include phone {
            grid-column: 1/2;
            grid-row: 2/3;
          
        }
    }
    &__info {
        margin-left: auto;
        @include tablet {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-left: unset;
        }
        @include phone {
            grid-column: 1/2;
            grid-row: 1/2;
      
        }
    }
    &__logo {
        display: block;
        width: 140px;
        height: 38px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include phone {
            margin: 0 auto;
        }
    }
    &__copyright {
        margin-top: 25px;
        color: var(--light-text-color);
        line-height: 24px;
        @include phone {
            text-align: center;
        }
    }
    &__text {
        margin-top: 21px;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px; 
        @include phone {
            text-align: center;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__title {
        margin-bottom: 20px;
        color: var(--light-text-color);
        font-size: 20px;
        line-height: 30px;
        @include phone {
            text-align: center;
        }
    }
    &__link {
        display: block;
        margin-top: 10px;
        line-height: 24px;
        transition: all .3s ease;
        &:hover {
            color: var(--accent-color);
        }
        @include phone {
            text-align: center;
        }
    }
    &__address {
        margin: 10px 0 0 0;
        @include phone {
            text-align: center;
        }
    }
}