.team {
    &__slide {
        display: grid;
        // grid-template-columns: 576px 1fr;
        grid-template-columns: clamp(28.125rem, 10.631rem + 28.19vw, 36rem) 1fr;
        grid-template-rows: 467px;
        gap: 76px;
        min-height: 600px;
        @include tablet {
            grid-template-columns: 1fr;
            // grid-template-rows: minmax(467px, auto);
            grid-template-rows: clamp(21.25rem, -10.5rem + 158.75vw, 29.188rem);
            grid-auto-rows: auto;
            gap: 30px;
        }
    }
    &__avatar {
        position: relative;
        max-width: 567px;
        background: url("../img/team/circle.svg") right bottom no-repeat;
        img {
            // width: 392px;
            width: clamp(18.125rem, -1.875rem + 100vw, 24.5rem);
            // height: 492px;
            aspect-ratio: 392/492;
            object-fit: cover;
            position: absolute;
            right: -19px;
            bottom: -25px;
        }
       @include tablet {
            // width: 382px;
            width: clamp(18.125rem, -1.875rem + 100vw, 23.875rem);
            justify-self: center;
       }
       @include phone {
            background: url("../img/team/circle.svg") center center/contain no-repeat
       }
    }
    &__title {
        padding: 10px 22px 16px 23px;
        border: 1px solid var(--button-border-color);
        border-radius: 8px;
        background: rgba(40, 48, 54, 0.20);
        backdrop-filter: blur(25px);
        position: absolute;
        right: -15px;
        bottom: 4px;
        @include tablet {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
        }
    }
    &__name {
        color: var(--medium-text-color);
   
        font-size: 26px;
        line-height: 39px;
        letter-spacing: 0.39px;
    }
    &__job {
        font-weight: 400;
        line-height: 24px;
    }
    &__descr {
        position: relative;
        padding-top: 128px;
        p {
            max-width: 393px;
            margin-bottom: 0;
            color: var(--medium-text-color);
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.21px;
            @include tablet {
                margin: 0 auto;
                text-align: center;
            }
        }
        @include tablet {
            padding-top: 0;
            padding-bottom: 30px;
           }
    }
    &__breackets {
        width: 101px;
        height: 97px;
        background: url(../../icons/team/breackets.svg) center center/cover no-repeat;

        position: absolute;
        top: 75px;
        left: -50px;
        @include tablet {
            display: none;
        }
    }
}