.trust {
    &__inner {
        // padding: 55px;
        padding: clamp(0.938rem, 0.062rem + 4.38vw, 3.438rem);
        border-radius: 25px;
        border: 2px solid var(--trusted-border-color);
        background-color: var(--trusted-bg-color);
        position: relative;
        overflow: hidden;
    }
    &__circle {
        width: 159px;
        height: 159px;
        background-color: var(--trusted-circle-color);
        filter: blur(25px);
        position: absolute;
        top: -86px;
        left: -84px;  
    }
    &__title {
        color: var(--trusted-text-color);
        font-size: 24px;
        // font-size: clamp(1.25rem, 1.162rem + 0.44vw, 1.5rem);
        font-weight: 500;
        line-height: clamp(1.875rem, 1.744rem + 0.66vw, 2.25rem);
        text-align: center;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 60px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        
        column-gap: clamp(2.313rem, -15.714rem + 29.05vw, 6.688rem);
        @include tablet {
            justify-content: space-between;
            // column-gap: 155px;
            column-gap: clamp(2.5rem, -8.188rem + 29.64vw, 10.188rem);
        }
        @include phone {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
    }
}